.app-layout {
  display: flex;
  min-height: 100vh;
  background: #f5f7fb;
}


/* Sidebar */

.sidebar {

  width: 260px;
  background: #111827;
  color: white;

  display: flex;
  flex-direction: column;

  padding: 25px 20px;

}


.sidebar-logo {

  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 18px;
  font-weight: 700;

  margin-bottom: 40px;

}


.sidebar-logo span {

  line-height: 1.3;

}



/* Menu */

.sidebar-menu {

  display: flex;
  flex-direction: column;
  gap: 12px;

}



.sidebar-menu a,
.sidebar-bottom a {

  text-decoration: none;

  color: #cbd5e1;

  padding: 14px 16px;

  border-radius: 12px;

  font-size: 15px;

  transition: 0.3s;

}



.sidebar-menu a:hover,
.sidebar-bottom a:hover {

  background: #1e293b;

  color: white;

}



/* Active page */

.sidebar-menu a.active {

  background: #2563eb;

  color: white;

}



/* Bottom */

.sidebar-bottom {

  margin-top: auto;

}



/* Main */

.main-section {

  flex: 1;

  display: flex;

  flex-direction: column;

}



/* Header */

.top-header {

  height: 70px;

  background: white;

  border-bottom: 1px solid #e5e7eb;

  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 0 35px;

}


.top-header h2 {

  font-size: 22px;

  color: #111827;

}



/* Profile */

.profile {

  background: #eff6ff;

  color: #2563eb;

  padding: 10px 18px;

  border-radius: 20px;

  font-weight: 600;

}



/* Content */

.page-content {

  padding: 35px;

}